@(form: org.profwell.security.domain.LoginForm)

<!DOCTYPE html>

<html>
    <head>

        <meta charset="UTF-8"></meta>

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>

        <title>Profwell - Login</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"></link>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/single.css")"></link>

        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")"></link>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"></link>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div class="container">

            <header id="navtop">
                <img src="@routes.Assets.at("images/logo.png")" alt="Professionals"></img>
            </header>



            <div class="singleBlock">

                <section class="grid-wrap">
                    <header>
                        <hr>
                        <div><h2>Sign in</h2></div>
                    </header>
                </section>

                @helper.form(routes.Application.authenticate) {

                        @tags.forms.messages("login", form.getVc(), "")

                    <p>
                        <input type="text" name="username" placeholder="Email" value="@form.getUsername()">
                        @tags.forms.messages("username", form.getVc())
                    </p>
                    <p>
                        <input type="password" name="password" placeholder="Password">
                        @tags.forms.messages("password", form.getVc())
                    </p>
                    <p>
                        <button type="submit">Login</button>
                    </p>

                }
            </div>

            <div class="note">
                <p>
                    Try <em>hradmin@@gmail.com</em> with <em>secret1@@</em> as password.
                </p>
            </div>

            <div class="divide-top">
                <footer class="grid-wrap">
                </footer>
            </div>
        </div>
    </body>
</html>
