@(id: String,
name: String,
label: String,
value: String,
validationContext: org.profwell.generic.validation.ValidationContext = null,
required: Boolean = false,
supportsMark: Boolean = false)
<div class="field-cell">
    <label for="@id">@label:</label>
    <input id="@id" name="@name" type="text" value="@value" maxlength="128"/>
    @requiredIcon(required)
    @markIcon(supportsMark)
    @if(validationContext != null) {
        @tags.forms.messages(name, validationContext)
    }
</div>