@(menuConfiguration: org.profwell.ui.menu.MenuConfiguration,
form: org.profwell.person.domain.PersonForm)

@main(menuConfiguration) {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/person/contact.css")"></link>
} {
    <script src="@routes.Assets.at("javascripts/person/contact.js")" type="text/javascript"></script>
} {

<div class="main">
    <section class="grid-wrap">
        <header class="grid col-full">
            <hr>
            <h2 class="fleft" style="width: 50%">Contact Book @(if (form.isNew()) (" - Add Person") else ( "- Edit Person"))</h2>
        </header>

        <form action="/personEditSubmit" method="post">
            @tags.forms.inputHidden("idValue", "idValue", form.getIdValue())

            <div class="grid">

                <ul class="toggle-view">
                    <li>
                        @tags.blocks.toggleBlock("General", "- Main information", form.isGeneralSectionExpanded()) {
                            @tags.forms.inputText("firstNameId", "firstName", "Name", form.getFirstName(), form.getVc(), true)
                            @tags.forms.inputText("secondNameId", "secondName", "Second Name", form.getSecondName(), form.getVc())
                            @tags.forms.inputText("lastNameId", "lastName", "Surname", form.getLastName(), form.getVc(), true)
                            @tags.forms.inputText("shortNoteId", "shortNote", "Short Note", form.getShortNote(), form.getVc())
                        }
                    </li>

                    <li>
                        @tags.blocks.toggleBlock("Profession", "- profession info", form.isProfessionSectionExpanded()) {
                            @tags.forms.inputSelect("generalProfessionId",
                                    "generalProfessionValue",
                                    "General Profession",
                                    form.getGeneralProfessionValue(),
                                    org.profwell.ui.select.DictionaryConversionUtils
                                            .convertDictionary(
                                                    org.profwell.person.model.ProfessionGeneralType.getValues(),
                                                    "-select profession-"),
                                    form.getVc(),
                                    true)
                            @tags.forms.inputTextarea("professionDetailsId", "professionDetails", "Profession Details", form.getProfessionDetails(), form.getVc())
                        }
                    </li>

                    <li>
                        @tags.blocks.toggleBlock("Contact Data", "- skype, email, phone, etc.", form.isContactSectionExpanded()) {
                            @if(form.getContacts().isEmpty()) {
                                <div class="contact-line empty">
                                    <span>-nothing to display-</span>
                                </div>
                            } else {
                                @for(contact <- form.getContacts()) {
                                    @contactLine(contact, form.getVc())
                                }
                            }
                            <div class="contact-line control">
                                @tags.forms.messages("contact", form.getVc(), "indent10Percent")
                                <a href="#" id="addContactButton" class="button control-button">Add contact</a>
                            </div>
                        }
                    </li>

                </ul>

                <div class="button-panel">
                    @if(form.isNew()) {
                        <a href="/personList" class="button">Cancel</a>
                    } else {
                        <a href="/personView?id=@form.getId()" class="button">Cancel</a>
                    }
                    <input type="submit" class="button" value="Save Person" />
                </div>
            </div>
        </form>


    </section>
</div>

<script type="text/javascript">
//<![CDATA[
    document.contact = {};
    document.contact.imageMark = '@routes.Assets.at("images/icons/mark.png")';
    document.contact.imageRequired = '@routes.Assets.at("images/icons/required.png")';
    document.contact.imageDelete = '@routes.Assets.at("images/icons/delete.png")';
//]]>
</script>
}
