@(menuConfiguration: org.profwell.ui.menu.MenuConfiguration,
form: org.profwell.security.domain.UserForm)

@main(menuConfiguration) {
    <!-- no additional styles -->
} {
    <!-- no additional scripts -->
} {

<div class="main">
    <section class="grid-wrap">
        <header class="grid col-full">
            <hr>
            <h2 class="fleft" style="width: 50%">Administration - Account Info Editing</h2>
        </header>

        <form action="/accountEditSubmit" method="post">
            @tags.forms.inputHidden("idValue", "idValue", form.getIdValue())

            @* for repost on view only, no data update is done *@
            @tags.forms.inputHidden("usernameId", "username", form.getUsername())

            <div class="grid">

                <ul class="toggle-view">
                    <li>
                        @tags.blocks.toggleBlock("Account info ", "- User account information", true) {
                            @tags.forms.outputSimple("Username", form.getUsername())
                            @tags.forms.inputText("emailId", "email", "Email", form.getEmail(), form.getVc(), true)
                            @tags.forms.inputText("firstNameId", "firstName", "Name", form.getFirstName(), form.getVc(), false)
                            @tags.forms.inputText("lastNameId", "lastName", "Surname", form.getLastName(), form.getVc(), false)
                        }
                    </li>
                </ul>

                <div class="button-panel">
                    <a href="/accountView" class="button">Cancel</a>
                    <input type="submit" class="button" value="Save Account Info" />
                </div>
            </div>
        </form>


    </section>
</div>
}
